<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/iconFont/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/layui/css/admin.css" />
		<link rel="stylesheet" href="/js/select2/dist/css/select2.css" />
		<link rel="stylesheet" href="/css/fontawesome/css/all.css" />
		<link rel="stylesheet" href="/css/fontawesome/css/all.css" />
		<link rel="stylesheet" href="/css/daterangepicker.css" />

		<link rel="stylesheet" href="/layui/css/modules/layer/default/layer.css" />

		<link rel="stylesheet" href="/css/myself.css" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.jqprint-0.3.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/select2/dist/js/select2.min.js"></script>
		<script src="/js/moment.min.js"></script>
		<script src="/js/daterangepicker.min.js"></script>
	</head>

	<body>
		<div id="app"></div>
	</body>
	<script>
		// window.apiHost = parent.urls || location.protocol + '//' + location.hostname.replace(/^(www|site)/, 'api')
		window.apiHost = parent.urls || location.protocol + '//' + location.hostname
	</script>
	<script src="/public/vue/manifest.js"></script>
	<script src="/public/vue/vendor/vendor.js"></script>
	<script src="/public/vue/vendor/View.js"></script>
</html>
