#app
  .form-control
    display block
    border-radius 2px
    height 37px
    border 1px solid #e6e6e6

  .ui.multiple.search.dropdown
    display flex
    overflow auto
    a
      white-space nowrap

